/* format */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 16px untuk font size nya 28 px untuk jarak antara tulisanya */
body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(img/background\ body.png);
    color: #333;
}
.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: skyblue;
    border-bottom: 3px solid salmon;
    z-index: 9999;
}
.container {
    width: 800px;
    margin: 80px auto;
    background-color: white;
    position: relative;
}
.linkedin{
    width: 200px;
    height: 200px;
    background-image: url(img/logo\ linkedin\ 2.png);
    background-repeat: no-repeat;
    display: inline-block;
    /* background-position: -100px 0; */
    text-indent: 9999px;
    position: absolute;
    top: -30px;
    right: -80px;
}
.header{
    padding: 20px;
    padding-bottom: 10px;
}
.header .judul{
    font-size: 40px;
    font-weight: bold;
}.header ul {
    margin: 0;
    padding: 0;
}
.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}
.header a{
    text-decoration: none;
    color: salmon;
    padding: 3px;
}
.header a:hover{
    background-color: skyblue;
    color: white;
}
.hero{
    height: 600px;
    background-image: url(img/background.jpeg);
    background-size: cover;
    background-position: 0 -300px;
    /* border-top: 5px solid salmon; */
    border-bottom: 5px solid skyblue;
}
.main{
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
.main h2{
    font-size: 28px;
    font-weight: bold;
}
.main .penulis{
    font-size: 11px;
    margin-top: -5px;
}
.main .penulis a{
    color: salmon;
    text-decoration: none;
}
.main p {
    margin-bottom: 20px;
    font-size: 13px;
}
.sidebar{
    width: 300px;
    float: right;
    padding: 20px;
}
.sidebar h3 {
    font-weight: bold;
    color: #666;
}
.sidebar img{
    width: 120px;
    height: 120px;
    float: left;
    padding-right: 10px;
}
.sidebar p{
    font: 12px/18px arial;
    color: #666;
    /* font-family: Arial; */
}
.footer{
    background-color: black;
    padding: 10px;
}
.footer .copyright {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}
/* micro clearix  */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
